<app-header></app-header>

<body id="class">
  <div>
    <button class="back" routerLink="/admin">back</button>
  </div>
  <div class="container">
    <div class="card-table">
      <div class="cart-product">
        <table class="table table-responsive">
          <thead>
            <tr>
              <th>No</th>
              <th>Item name</th>
              <th>Item image</th>
              <th>price</th>
              <th>quantity</th>
              <th>category</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of items let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ item.title }}</td>
              <td>
                <img
                  style="width: 100px; height: 80px"
                  src="{{ item.image }}"
                  alt=""
                />
              </td>
              <td>{{ item.price }}</td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.total }}</td>
              <td>{{ item.category }}</td>
              <td>
                <button
                  (click)="updateSubmit(item._id)"
                  class="btn btn-primary"
                >
                  update
                </button>
              </td>
              <td>
                <button (click)="onSubmit(item._id)" class="btn btn-danger">
                  remove
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-center">
          <pagination-controls (click)="paget()"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</body>
