.container {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #ccc;
}

#class {
  background-color: #deebdd;
}

.back {
  position: fixed;
  top: 130px;
  margin-left: 15px;
  border-radius: 30px;
}

.button {
  margin-right: 500px;
  margin-top: 15px;
}

.buttons{
  margin-left:450px;
}
